body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.top-banner{
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}

.flexible-container{
    display: flex;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.orange-color{
    color: orangered;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}
.linked-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.dream-big{
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}